[Unit]
Description=plotter web
After=network.target

[Service]
Environment=NODE_PORT=3001
Type=simple
User=plotter
WorkingDirectory=/home/plotter/piplot
ExecStart=/usr/bin/node /home/plotter/piplot/main.js
Restart=on-failure

[Install]
WantedBy=multi-user.target